<!-- Removed address, phone, and email information -->

<div class="footer">
    <div class="footer-column">
        <img src="dolphin-logo.png" alt="Logo" class="footer-logo">
        <p>Behind Chistiya Police Chowki, Beside Devshree Auto Mobile, Arun Uday Colony, N-6, Cidco, Chhatrapati Sambhajinagar (Aurangabad), Maharashtra 431003</p>
        <p><i class="fas fa-phone"></i> (123) 456-7890</p>
        <p><i class="fas fa-envelope"></i> contact&#64;dolphin.com</p>
    </div>

    <div class="footer-column">
        <h3>Quick Links</h3>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/service">Services</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
    </div>

    <div class="footer-column">
        <h3>Connect with Us</h3>
        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
        <a href="https://x.com/"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    </div>

    <div class="footer-column">
        <h3>Our Location</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3752.0469803461906!2d75.3575069746848!3d19.880238026234192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdba29412de4f95%3A0x6caee3d531d74414!2sADARSH%20MULTI%20SERVICES!5e0!3m2!1sen!2sin!4v1724055110123!5m2!1sen!2sin" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>