<nav class="navbar">
    <ul class="navbar-links">
        <li><a href="/home"><i class="fas fa-home"></i> Home</a></li>
        <li class="dropdown">
            <a><i class="fas fa-info-circle"></i> About <i class="fas fa-caret-down"></i></a>
            <ul class="dropdown-content">
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/about-team">Our Team</a></li>
                <li><a href="/our-history">Our History</a></li>
                <li><a href="/mission-vision">Mission & Vision</a></li>
            </ul>
        </li>
        <li><a href="/service"><i class="fas fa-cogs"></i> Services</a></li>
        <li><a href="/testimonials"><i class="fas fa-users"></i>Testimonials</a></li>
        <li><a href="/contact"><i class="fas fa-envelope"></i> Contact</a></li>
    </ul>
</nav>