<div class="topbar">
    <div class="topbar-left">
        <i class="fas fa-phone"></i>
        <i class="fas fa-envelope"></i>
    </div>
    <div class="topbar-center">
        <a href="/home"><img src="dolphin-logo.png" alt="Logo"></a>
    </div>
    <div class="topbar-right">
        <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
        <a href="https://x.com/"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    </div>
</div>